html::-webkit-scrollbar {
    width: 12px;
}

html::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgb(187 169 169 / 30%);
    border-radius: 10px;
}

html::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
html{
    font-family: sans-serif
}
#header{
    width: 100%;
    height: 100%;

}
.nav{
    display: flex;
}
.left-div {
    width: 200px;
    height: 400px;
     background: rgb(253, 251, 251);
    overflow: scroll;
 }
 .left-div::-webkit-scrollbar {
     width: 12px;
 }
 
 .left-div::-webkit-scrollbar-track {
     -webkit-box-shadow: inset 0 0 6px rgb(187 169 169 / 30%);
     border-radius: 10px;
 }
 
 .left-div::-webkit-scrollbar-thumb {
     border-radius: 10px;
     -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
 }
#img{
    width: 46px;
    height: 46px;
}
.rightIcones{

}
.nav-ul{
    display: flex;
    gap: 3rem;
    margin-left: 274px;
}
li{
    list-style-type: none !important;
}
.input-search{
    margin-top: 4px;
    margin-left: 3rem;
   
}
input{
    width: 175px;
    height: 27px;
    border-top-right-radius: 15px;
    border-bottom-right-radius:15px ;
    border-top-left-radius:15px ;
    border-bottom-left-radius:15px ;
}
#iconesrightDiv{
display: flex;
}
#img-heartBeat{
    width: 41px;
    height: 41px;
    margin-left: 168px;

}
#img-bag{
    width: 41px;
    height: 41px;
    margin-left: 50px;
}
.mens-shoes{
    font-weight: 5px;
}
.left-div{
    position: absolute;
    top: 7rem;
    left: 0%;
    width: 23%;
    height: 139%;
    margin-left: 0;
   
    
}
.ulmain{
    border-bottom-style:outset;

}
#genter{
    width: 310px;
    height: 174px;
   
    border-bottom-style: outset;
}
#Men{
    margin-left: 5px;
    width: 65px;
    height: 27px;
}

#Women{
    margin-left: 5px;
    width: 65px;
    height: 27px;
}

#Unisex{
    margin-left: 5px;
    width: 65px;
    height: 27px;
}
#Boys{
    margin-left: 5px;
    width: 65px;
    height: 27px;
}
#Girls{
    margin-left: 5px;
    width: 65px;
    height: 27px;

}
.kids{
    height: 137px;
    border-bottom-style: outset;
}
h3{
    margin-left: 17px;

}
.colour{
    height: 373px;

    border-bottom-style:outset;
}
.colour-ul{

}
.flex-class{
    display: flex;
    gap: 55PX;
}
.colour-ul{
    display: flex;
    gap: 3rem;
    margin-left: -39px;

}
#purple{
    width: 30px;
    height: 30px;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
    background-color: purple;
}
#black{
    width: 30px;
    height: 30px;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
    background-color:black;

}
#red{
    width: 30px;
    height: 30px;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
    background-color:red;
}
#orenge{
    width: 30px;
    height: 30px;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
    background-color:orange;
}
#blue{
    width: 30px;
    height: 30px;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
    background-color:blue;
}
#white{
    width: 30px;
    height: 30px;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
    background-color:white;
}
#brown{
    width: 30px;
    height: 30px;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
    background-color:brown;
}
#green{
    width: 30px;
    height: 30px;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
    background-color:green;
}
#yellow{
    width: 30px;
    height: 30px;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
    background-color:yellow; 
}
#multi{
    width: 30px;
    height: 30px;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
   
}
#gray{
    width: 30px;
    height: 30px;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
    background-color:black;
}
#pink{
    width: 30px;
    height: 30px;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
    background-color:black;
}
#brands{
    border-bottom-style:outset;
    height: 178px;
}
.shoes{
    border-bottom-style: outset;
height:135px ;
}
#AirMax{
    border-bottom-style: outset;
    height: 206px;
}
.hideFilter{
    width: 100%;
    height: 44px;
    background-color: rgb(255, 255, 255);
}
.HideFil{
    color: black;
    margin-left: 60%;
    margin-top: -29px;
}
.sorted-by{

}
#sorted-by{

}
#s{
    position: absolute;
    left: 81%;
    top: 14%;
    border-color: white;
    background-color: rgb(245 242 242);
}
.rightImagedev11{
    width: 247px;
    height: 272px;
    background-color: rgb(202, 128, 17);
    position: absolute;
    top: 21%;
    left: 25%;


}
.rightImagedev11 img{
    width: 247px;
    height: 272px;
}
.rightImagedev12{
    width: 247px;
    height: 272px;
    background-color: rgb(202, 128, 17);
    position: absolute;
    top: 21%;
    left: 51%;


}
.rightImagedev12 img{
    width: 247px;
    height: 272px;
}
.rightImagedev13{
    width: 247px;
    height: 272px;
    background-color: rgb(202, 128, 17);
    position: absolute;
    top: 21%;
    left: 77%;


}
.rightImagedev13 img{
    width: 247px;
    height: 272px;
}
.justin{
    color: orangered;

}
#ulsentence11{
    position: absolute;
    top: 62%;
    left: 25%;

}
.graycolor{
    color: rgb(168, 166, 166);
}
#ulsentence12{
    position: absolute;
    top: 62%;
    left: 51%;

}
#ulsentence13{
    position: absolute;
    top: 62%;
    left: 78%;
}
.rightImagedev21{
    width: 247px;
    height: 272px;
    background-color: rgb(202, 128, 17);
    position: absolute;
    top: 94%;
    left: 25%;


}
.rightImagedev21 img{
    width: 247px;
    height: 272px;
}
.rightImagedev22{
    width: 247px;
    height: 272px;
    background-color: rgb(202, 128, 17);
    position: absolute;
    top: 94%;
    left: 51%;


}
.rightImagedev22 img{
    width: 247px;
    height: 272px;
}
.rightImagedev23{
    width: 247px;
    height: 272px;
    background-color: rgb(202, 128, 17);
    position: absolute;
    top: 94%;
    left: 77%;


}
.rightImagedev23 img{
    width: 247px;
    height: 272px;
}
#ulsentence21{
    position: absolute;
    top: 124%;
    left: 25%;

}
#ulsentence22{
    position: absolute;
    top: 124%;
    left: 51%;

}
#ulsentence23{
    position: absolute;
    top: 124%;
    left: 78%;
}
#footer{
    height: 36%;
    width: 100%;
    background-color: rgb(10, 10, 10);
    position: absolute;
    top: 154%;
    left: 0%;
    display: flex;
    color: aliceblue;
}
.footer-li{
   padding-bottom: 1rem;
   padding-right: 7rem;
   font-family: monospace;
}
.footer-table tr th{
    font-family: monospace;
}
.footer-table tr td{
    font-size: 13px;
    font-family:sans-serif ;
    color: rgb(173, 172, 172);
}
#socialMediaIcons{
    width: 20%;
    height: 23%;
    background-color: rgb(10 10 10);
    position: absolute;
    top: 158%;
    left: 73%;
}
#firstIcondiv{
    width: 37px;
    height: 32px;
    color: rgb(197, 48, 48);
    position: absolute;
    top: 24%;
    left: 15px;
} 

#secondIconediv{
    width: 37px;
    height: 32px;
    color: rgb(197, 48, 48);
    position: absolute;
    top: 24%;
    left: 15px;


}
#therdIconediv{
    width: 37px;
    height: 32px;
    color: rgb(197, 48, 48);
    position: absolute;
    top: 24%;
    left: 15px;

}
#forthIconediv{
    width: 37px;
    height: 32px;
    color: rgb(197, 48, 48);
    position: absolute;
    top: 24%;
    left: 15px;
}


